<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Jam Session</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/lodash/index.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/qwerty-hancock/qwerty-hancock.js"></script>
</head>
<body>

    <div class="container info">

      <div class="page-header">
        <h1>Jam Session <small>by Jack Mulrow</small></h1>
      </div>

      <div class="row">

        <div class="col-xs-12">
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="/">home</a></li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span id="room-name">sound rooms</span> 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/room-one">room one</a></li>
                <li><a href="/room-two">room two</a></li>
                <li><a href="/room-three">room three</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Make a new room (doesn't work yet)</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="col-xs-12 hidden" id="error-message">
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">Dismiss &times;</span></button>
            <strong>Sorry!</strong> the room was full, you can still jam locally though
          </div>
        </div>

        <div class="col-sm-8">
          <h3>How to use Jam Session</h3>
          <p>
            Use your mouse or keyboard to press the "keys" below to make sounds. Change the volume and kind of sounds using the interface to the right (click "save" for changes to go through). Play with other people by going to a "sound room" where you can jam with up to 4 other users. If you want to play by yourself, stay on the homepage.
          </p>
        </div>

        <div class="col-sm-4">
          <h3>Customization</h3>
          <form id="options" class="form-inline">
            <div class="form-group">
              <label for="oscillator-type">Oscillator Type</label>
              <select class="form-control" id="oscillator-type" name="oscillator-type">
                <option value="square">Square</option>
                <option value="sine">Sine</option>
                <option value="sawtooth">Sawtooth</option>
                <option value="triangle">Triangle</option>
              </select>
            </div>
            <div class="form-group">
              <label for="gain-val">Volume</label>
              <select class="form-control" id="gain-val" name="gain-val">
                <option value="0">0</option>
                <option value="0.1">0.1</option>
                <option value="0.2">0.2</option>
                <option value="0.3" selected="selected">0.3</option>
                <option value="0.4">0.4</option>
                <option value="0.5">0.5</option>
                <option value="0.6">0.6</option>
                <option value="0.7">0.7</option>
                <option value="0.8">0.8</option>
                <option value="0.9">0.9</option>
                <option value="1">1</option>
              </select>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
          </form>
        </div>

      </div>
    </div>
  
    <div style="margin: 25px">
      <div id="keyboard"></div>
    </div>

    <div class="container">
      <div class="footer">
        <hr/>
        <p>Made by Jack Mulrow for his CS50 final project. Check out the project's <a target="_blank" href="https://github.com/jsmulrow/jamsession">github repo</a></p>
      </div>
    </div>

</body>
<script src="/bootstrap-without-jquery/bootstrap-without-jquery.min.js"></script>
<script src="/js/main.js"></script>
</html>
