* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

#error-message div {
  margin-top: 20px;
  margin-bottom: 0px;
}

#black-note {
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 0.8rem;
    color: white;
    text-align: center;
}

#white-note {
    font-size: 4rem;
    display: inline-block;
    padding: 1rem;
    margin: 1.4rem;
    color: black;
}

#white-key {
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    margin-top: 22rem;
    background: #ccc;
    border-radius: 0.4rem;
}