* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  // background: black;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

#error-message div {
  margin-top: 20px;
  margin-bottom: 0px;
}
